.blue-heading{
color: #1e3cff;
}

.usuall-size{
font-size: 150%;
}

.white-color{
    color: white;
}

.center{
    text-align: center;
}

body{
background-color: black;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  max-width: 300px;
}

.highlight {
  color: #ff00ea;
}

.green{
    color: lawngreen;
}

.yellow{
    color: rgb(255, 251, 0);
}

.red{
    color: red;
}

@media (max-width: 480px){
    .blue-heading{
        font-size: 1.5rem;
}
    .center-img {
        width: 75%;}

    .usuall-size{
        font-size: 110%;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .center-img {
    width: 95%;
}
}

@media (min-width: 768px) and (max-width: 1428px){
    .center-img {
    width: 100%;
}
}
